/*General style*/

/**********************************
STYLE COLOR =>
Color mix (http://colormind.io/bootstrap/)
#EDECEF; (main-bg-color)
#2A3A44; (second-bg-color)
#84ACBF; (fourth-bg-color)
#626981; (third-bg-color)
#3868C3; (flash-color)

FONT COLOR =>
#181F23; (font-color)
END STYLE COLOR
**********************************/

/*GENERAL*/

body{
	background-color: #EDECEF;
}

p, small, ul{
	font-family: 'Quicksand', sans-serif;
}

a{
	text-decoration: none;
	color: #626981;
}

a:hover{
	color: #3868C3;
}

.underscore{  
	border-bottom: 0.3rem solid #3868C3;
	padding-bottom: 0.3125rem;
}

/*TITLES*/

h1{
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-weight: 200;
	font-size: 2rem;
}

h2, h3, h4, h5, h6, nav{
	font-family: 'Nunito Sans', sans-serif;
}

.uppercase{
	text-transform: uppercase;
}

.specs-bold-100{
	font-weight: 100;
}

.specs-bold-700{
	font-weight: 700;
}

.specs-bold-400{
	font-weight: 400;
}

/*SEPARATORS*/
.separator-naked{
	height: 10vh;
	width: 100vw;
}

.separator-img1{
	height: 30vh;
	width: 100vw;
	background: url(../imgs/mountains/olivier-miche.jpg) no-repeat center -200px fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.separator-img2{
	height: 30px;
	width: 100vw;
	background: url(../imgs/mountains/thomas-tixtaaz02.jpg) no-repeat center -200px fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.separator-img3{
	height: 30px;
	width: 100vw;
	background: url(../imgs/woods/seth-williams.jpg) no-repeat center -200px fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

/*FLEX*/

.flex-container{
	display: flex;
}

.flex-container-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-container-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-container-left{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex-container-space-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-wrap-reverse{
	flex-wrap: wrap-reverse;
}

/*HEADER*/
header{
	height: 100vh;
	width: 100vw;
}

.div-name-header{
	height: 80px;
	padding-left: 3%;
	padding-right: 3%;
	align-items: center;
	color: #EDECEF;
}

.list-no-style{
	list-style: none;
}

.list-no-style li{
	justify-content: space-around;
}

.background-header{
	background: url(../imgs/mountains/mountain01.jpeg) no-repeat center -200px fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.div-catchphrase{
	position: relative;
	width: 100vw;
	height: 70vh;
	font-size: 3.75rem;
	color: #EDECEF;
}

.cheese{
	height: 30px;
	width: 30px;
}

/*NAV*/
nav{
	height: 4.375rem;
	position: sticky;
	top: 0;
	z-index: 999;

}

nav ul li{
	padding: 0.9375rem;
}

nav ul li a{
	text-decoration: none;
	color: #EDECEF;
}

nav ul li a:hover{
	font-weight: 400;
}

.border-li{
	border-right: 0.0625rem solid #EDECEF;
}

/*MAIN*/
main{
	margin-left: 15%;
	margin-right: 15%;
}

/*FOOTER*/
footer{
	height: 9.375rem;
	color: #EDECEF;
	background-color: #2A3A44;
}

/*LISTS*/

/*SECTION*/
.size-1{
	font-size: 1.25rem;
}

/*PRESENTATION*/
.text-presentation{
	padding-top: 2.5rem;
	width: 65%;
}

/*UNDERLINE FROM LEFT*/
.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #3868C3;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	right: 0;
}

/*MEDIA QUERIES